
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<link href="../../Content/css/register_style.css" rel="stylesheet" />
<div class="register-container">
    <!-- Title section -->
    <div class="title">Login</div>
    <div class="content">
        <!-- Registration form -->
        <form action="#">
            <div class="user-details">
                <!-- Input for Username -->
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" placeholder="Enter your username" name="user-name" id="user-name" required>
                </div>

                <!-- Input for Password -->
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your password" name="password" id="password" required>
                </div>
            </div>
            <!-- Submit button -->
            <div class="button">
                <input type="submit" value="Register">
            </div>
            <!-- Already have account? -->
            <div class="login">
                <p>Do not have an account? <a href="/dang-ky">Register</a></p>
            </div>
        </form>
    </div>
</div>