
@{
    ViewBag.Title = "Comment";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@model List<Dentalcare.Services.CommentManager.CommentInfo>

<section class="ftco-section testimony-section ">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2 class="mb-2" style="color: white">Bình luận</h2>
                <span class="subheading">Đánh giá của khách hàng</span>
            </div>
        </div>
        <div class="row justify-content-center ftco-animate">
            <div class="col-md-8">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    @foreach (var comment in ViewBag.Comments)
                    {
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url('@Url.Content("~/" + comment.Image)')">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5">
                                        @comment.Message
                                    </p>
                                    <p class="name">@comment.PersonName</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    body {
        padding: 0px;
    }


    
</style>
