
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/services.css">


<div class="all-services">
        <div class="service-detail">
            <h3>@ViewBag.blog.title</h3>
            <p>@ViewBag.blog.datebegin</p>
            <p>@ViewBag.blog.msg</p>
        </div>
    }
</div>