
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="background-image: url('../../Content/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
            <div class="row slider-text align-items-end">
                <div class="col-md-7 col-sm-12 ftco-animate mb-5">
                    <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a href="/">Home</a></span> <span>Services</span></p>
                    <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Dịch Vụ Vì Răng Khỏe Của Bạn</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2 class="mb-2">Dịch Vụ Vì Răng Khỏe Của Bạn</h2>
                <p>Giá cả hợp lí và chất lượng dịch vụ luôn tốt nhất.</p>
            </div>
        </div>
        <div class="row">
            @foreach (var serviceCategory in ViewBag.serviceCategories)
            {
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-tooth"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">
                                <a href="@Url.Content("~/dich-vu/" + serviceCategory.meta)">@serviceCategory.name</a>
                            </h3>
                            <p>@serviceCategory.descrip</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@RenderPage("~/Views/Shared/Milestone.cshtml");


